<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .container
        {
            border: black 2px solid;
            width:200px;
            height:100px;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin:auto;
            margin-top: 220px;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body>
   <div class="container">
    <h3>logged out</h3>
    <button><a class="nav-item nav-link" id="login" href="/login">Login</a></button>
   </div>
</body>
</html>